.book-container {
    margin: 10px auto;
    background-color: cornsilk;
    width: 500px;
    height: auto; /* neu */
}

nav {
    padding: 2em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

button {
    cursor: pointer;
    background-color:coral;
    border-radius: 8px;
    border: none;
    padding: 0.5em 1em;
    margin: 0 1em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.content > p {
    padding: 0.5em;
}

/* neu */
.reviews-container {
    width: 400px;
    margin: 1em auto;
    padding-bottom: 1em;
}

.reviews-container form {
    margin: 1em auto;
    width: max-content;
    display: flex;
    align-items: center;
}

.reviews-container textarea {
    border-radius: 8px;
    border: solid 1px orange;
    padding: 0.8em 1em;
    width: 200px;
}

.reviews-container p {
    margin: 1em auto;
}