<section class="book-container">
    <nav>
        <div *ngIf="hasPreviousBook()">
            <button [routerLink]="getPreviousBook()">voriges Buch</button>
        </div>
        <h2>Buch {{ book.id }}</h2>
        <div *ngIf="hasNextBook()">
            <button [routerLink]="getNextBook()">nächstes Buch</button>
        </div>
    </nav>

    <div class="content">
        <p>Titel: {{ book.title }}</p>
        <p>Autor/in: {{ book.author }}</p>
        <p>Erscheinungsjahr: {{ book.year }}</p>
    </div>

    <div class="reviews-container">
        <h4>Rezensionen:</h4>
        <form #form="ngForm" (ngSubmit)="onReviewSubmit(form)">
            <textarea ngModel name="reviewText" placeholder="Meine Rezension..."></textarea>
            <button type="submit">Abschicken</button>
        </form>
        <div *ngFor="let review of currentBookReviews; index as indexOfReview">
            <p>Rez. {{ indexOfReview + 1 }}: <em>{{ review.text }}</em></p>
        </div>
    </div>
</section>
