.book-container {
    margin: 10px auto;
    background-color: cornsilk;
    width: 500px;
    height: 250px;
}

nav {
    padding: 2em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

button {
    cursor: pointer;
    background-color:coral;
    border-radius: 8px;
    border: none;
    padding: 0.5em 1em;
    margin: 0 1em;
}

.content {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.content > p {
    padding: 0.5em;
}